@charset "utf-8";
.l-header {
  background-color: orange;
  height: 40px;
  @include md {
    height: 50px;
  }
  & .header-area {
    text-align: center;
    line-height: 40px;
    @include md {
      line-height: 50px;
    }
    &__title {
      color: white;
      font-size: 2rem;
      @include md {
        font-size: 2rem;
      }
    }
  }
}
